<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="burger-container">
        <div class="burger-img">
          <img src="./img/burger.jpg" />
        </div>
        <h1>Eat-Da-Burger!</h1>
        <div class="row">
          <div class="col-md-6 burgers">

          </div>
          <div class="col-md-6 devoured-burgers">

          </div>
        </div>
        <form id="burger-form">
          <td colspan="4">
            <textarea placeholder="Enter a name" id="burger-name" type="text" rows="2"></textarea>
          </td>
          <td>
            <button type="submit" class="btn btn-success">Add a Burger</button>
          </td>
        </form>

      </div>
    </div>
  </div>
  </d>
  <!-- Custom Script -->
  <script src="js/burger.js" type="text/javascript"></script>