body {
  background: #00A2BC;
}
button.submit {
  float: right;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.burger-container {
  margin-top: 50px;
}

.burger-img {
  text-align: center;
}

.burger {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.burger-name {
  padding: 10px;
  min-height: 40px;
  width: 100%;
  margin-right: 15px;
  background-color: white;
  text-align: center;
}


#burger-name {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 15px;
}

.top-30 {
  margin-top: 30px;
}
